/data/*
!data/generate_index.py
/__pycache__/*
/logs/*
/checkpoints/*
/scripts/*
/models/__pycache__/*
/models/models_2d/__pycache__/*
/models/models_2d/base_models/__pycache__/*
/models/models_2d/base_models/EfficientNet/__pycache__/*
/models/models_2d/base_models/PyConvResNet/__pycache__/*
/models/models_2d/base_models/resnest/__pycache__/*
/models/models_3d/__pycache__/*
/models/nets/__pycache__/*
/models/models_3d/sync_batchnorm/__pycache__/*
/utils/__pycache__/*
/.vscode/*